@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Kanit:wght@500&display=swap");

/* Universal */
* {
  padding: 0;
  margin: 0;
  font-family: "Cormorant SC", serif;
  transition: 700ms;
  overflow-x: hidden !important;
}

/* Variables */
:root {
  --primary-light-color: #578cd4;
  --secondary-light-color: #0040c1;
  --primary-dark-color: rgb(0, 0, 70);
  --secondary-dark-color: rgb(0, 0, 10);
  --dark-color: #ff8500;
}

/* Scrollbar */
.flexible::-webkit-scrollbar {
  width: 10px;
}

.flexible::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.flexible::-webkit-scrollbar-thumb {
  background: var(--primary-light-color);
  /* border-radius: 50px; */
}

.flexible::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.d_lexx::-webkit-scrollbar-thumb {
  background: var(--dark-color);
}

/* Body */
body {
  /* height: max-content; */
  height: 100%;
  background-color: var(--secondary-light-color);
}

/* Hero */
.hero::-webkit-scrollbar {
  display: none;
}

.hero {
  background: linear-gradient(
    var(--primary-light-color),
    var(--secondary-light-color)
  );
  margin: 0;
  position: relative;
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  overflow: auto;

  font-family: "Montserrat", sans-serif;

 
}

.d_hero {
  background: linear-gradient(
    var(--primary-dark-color),
    var(--secondary-dark-color)
  );
  border: 0.1px solid var(--primary-dark-color);
}

/* Set */
.set {
  height: 50px;
  width: 50px;
  cursor: pointer;

  background-color: var(--primary-light-color);
  right: 0;
  top: 0;
  margin: 150px 0;
  z-index: 9;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0px 2px 5px 1px grey;
  position: fixed;

  animation: comingUp 1s 4.2s backwards;
}

.set img {
  margin: 20%;
  width: 60%;
}

.sun {
  animation: sunRot 5s infinite;
}

.moon {
  animation: moonBlip 1.5s infinite ease-in-out;
}

@keyframes moonBlip {
  0% {
    width: 60%;
    margin: 20%;
  }

  50% {
    width: 40%;
    margin: 30%;
  }

  100% {
    width: 60%;
    margin: 20%;
  }
}

@keyframes sunRot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.d_set {
  background-color: #000;
}

/* Menu */
.menu {
  height: 550px;
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 4% 5%;
  z-index: 9;

  position: absolute;
}

.d_menu div {
  background-color: var(--secondary-dark-color);
  color: #fff;
}

.d_menu img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.menu-1 {
  height: 12%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px grey;
  text-align: center;
  display: none;

  align-items: center;
}

.menu-1 h4 {
  margin-top: 14px;
}

.menu-1 h5 {
  color: var(--primary-light-color);
}

.d_hero .menu-1 h5 {
  color: var(--dark-color);
}

.menu-2 {
  height: 300px;
  width: 94%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px grey;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(8px, 1vw, 20px);
  font-weight: 800;

  /* font-size: 12px; */
  text-align: center;
}

.menu-2 img {
  width: 19px;

  margin: 11px 0;
}

.menu-2 div:hover {
  background-color: var(--secondary-light-color);
  color: #fff;
}

.d_menu .menu-2 div:hover {
  background-color: var(--dark-color);
}

.menu-2 div:hover img {
  filter: invert(100%);
}

.menu-2 div {
  height: 25%;
  padding: auto;
  cursor: pointer;
}

.way {
  display: none;
}

.the-man {
  height: 505px;
  width: 37%;
  background-color: #fff;
  margin: 1% 12%;
  box-shadow: 0px 0px 5px 1px grey;
  border-radius: 2px;
  position: absolute;
  text-align: center;
  z-index: 4;
  animation: zoomInDown 4s ease-in-out;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back {
  background-color: var(--secondary-light-color);
  height: 620px;
  width: 37%;

  margin: 0.5% 11.2%;

  border-radius: 2px;
  position: absolute;
}

.d_hero .back {
  background-color: var(--primary-dark-color);
}

.title-text {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
}

.title-text h2 {
  position: absolute;
}

.chevron {
  width: 17px;
  height: 17px;
  animation: chev 2s infinite;
  /* filter: brightness(0.9) saturate(1.5) hue-rotate(210deg); */
  display: none;
}

.chevup {
  transform: rotate(180deg);
  animation: none;
}

.d_hero .chevron {
  /* filter: hue-rotate(168deg) saturate(14) brightness(160%); */
  /* filter: hue-rotate(195deg) saturate(5) brightness(1.05) contrast(0.85); */
  filter: hue-rotate(180deg) saturate(1.5) brightness(1.3) contrast(1.2);
}

@keyframes chev {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0px;
  }
}

.title-text span {
  color: var(--primary-light-color);
}

.me {
  /* height: 250px; */
  height: 60%;

  background-color: antiquewhite;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  clip-path: polygon(0 0, 100% 0, 100% 221px, 50% 95%, 0 178px);
}

.me img {
  margin: 0 auto;
}

.d_hero .me img {
  filter: hue-rotate(0deg) saturate(120%);
}

/* .my-details {
  border: 2px solid red;

} */
.my-details p,
.my-details h1 {
  margin: 20px 0;
}

.my-details h3 {
  color: var(--primary-light-color);
}

.d_the-man .my-details h3 {
  color: var(--dark-color);
}

.d_the-man {
  background-color: var(--secondary-dark-color);
  color: white;
}

.d_the-man .me {
  background-color: #ff8500;

  filter: brightness(65%);
}

.d_the-man .my-details img {
  filter: invert(100%);
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 20px auto;
}

.socials img {
  width: 30px;
}

.cv-contact {
  display: flex;
  justify-content: space-around;
  justify-self: baseline;
  width: 100%;
  /* border: 2px solid red; */
}

.cv-contact div {
  border: 1px;

  width: 50%;
  padding: 15px;
  border-image: linear-gradient(grey, transparent) 2;
  border-bottom: 0;
  border-right: 0;
  border-style: solid;
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  font-size: clamp(14px, 1.2vw, 26px);
}

.cv-contact div:hover {
  background-color: var(--primary-light-color);
}

.contact a {
  text-decoration: none;
  color: unset;
}

.d_hero .cv-contact div:hover {
  background-color: var(--dark-color);
}

.flexible {
  height: 565px;

  width: 70%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  left: 0%;
  background-color: #fff;
  margin: 2.5% 90px;
  border-radius: 5px;
  margin-left: 25%;
  box-shadow: 0px 0px 5px 1px grey;
  padding: 2%;
  padding-left: 25%;
  box-sizing: border-box;

  z-index: 2;
  overflow-y: scroll;
  position: absolute;
  opacity: 1;
  /* transform: translateX(0%); */
  animation: membered 2s;

  font-size: clamp(14px, 1.1vw, 20px);
  /* line-height: clamp(20px, 1.6vw, 26px); */
}

@keyframes membered {
  0% {
    width: 0%;
  /* transform: translateY(0%); */
  }
  100% {
    width: 70%;
  }
}

.d_lexx {
  background-color: var(--secondary-dark-color) !important;
  color: white;
}

.d_lexx .title-text span {
  color: var(--dark-color);
}

.d_lexx .sta {
  background-color: var(--dark-color);
}

.d_lexx .box-work span {
  color: var(--dark-color);
}

.flexible-gone {
  /* transform: translateX(0%); */
  width: 10%;
  opacity: 0;
  max-height: 480px;
  /* max-height: 300px; */
  width: 0%;
  /* top: 0%; */
  left: 0%;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  margin: 5% 90px;
  margin-left: 25%;
  font-size: clamp(14px, 1.1vw, 20px);

  z-index: 1;
}

.about {
  margin-bottom: 50px;
}

.box-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
}

.para {
  width: 100%;
  text-align: justify;
  font-size: clamp(14px, 1.1vw, 20px);
  /* line-height: 1.6vw; */
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* width: 35%; */
}

.stats div {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.sta {
  color: white;
  background-color: var(--primary-light-color);
  padding: 3px 1px;
}

.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: space-around;
    /* 150px fixed, flexible wrap */
    gap: auto;
}

.box-x {
  width: 100%;
  /* height: 100px; */

  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;

  /* border-image: linear-gradient(to right, var(--primary-light-color), transparent) 1; */
  /* border-bottom: 0px !important; */

  /* border-style: solid; */
  /* border-width: 1px; */
}

.box-x:hover {
  background-color: var(--primary-light-color);
  color: var(--secondary-light-color);
}

.box-x h3 {
  font-size: 10px;
}

.box-x:hover h3 {
  display: none;
}

.box-x p {
  display: none;
}

.box-x:hover p {
  display: block;
  /* font-size: 20px; */
}

.d_hero .box-x {
  border-image: linear-gradient(to right, var(--dark-color), transparent) 1;
}

.d_hero .box-x:hover {
  color: var(--dark-color);
  background-color: var(--primary-dark-color);
}

.box-x img {
  width: 70%;
}

.responsive {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* height: 180px; */
}

.responsive img {
  position: absolute;
  top: 5%;
  left: 20%;
  animation: showGo 7.5s infinite;
  opacity: 0;
  width: 60%;
}

#box-anim {
  width: 100%;
  /* height: 85%; */
  background-color: var(--primary-light-color);
  /* font-size: 22px; */
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  /* animation: anima 12.5s infinite; */
  /* padding: 20px; */
}

#boxxd {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 6px;
}

.d_hero #box-anim {
  background-color: var(--dark-color);
}

.d_lexx .service-content img {
  filter: hue-rotate(175deg) brightness(300%) saturate(300%);
}

.d_lexx .head-box img {
  filter: hue-rotate(168deg) saturate(14) brightness(160%);
}

.xperience img,
.education img {
  width: 25px;
  margin-right: 10px;
}

.xperience,
.education {
  width: 100%;
}

.xper {
  margin: 20px 0;
  border: 2px dashed grey;
  padding: 10px;
}

.xper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xper ul 
{
  padding: 15px 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
  font-weight: 200 !important;
  font-size: 13px !important;
}
.xper li
{
  position: relative;
  text-indent: -20px;
  padding-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif  !important;
  margin-bottom: 10px;
}

.xper li::before,
.quality li::before {
  content: "\25A0";
  color: var(--primary-light-color);
  margin-right: 10px;
}

.d_lexx .xper li::before,
.d_lexx .quality li::before {
  color: var(--dark-color);
}

.head-box {
  display: flex;
  align-items: center;
}

.resume-date {
  color: grey;
  /* width: 65%; */
  border-radius: 3px;
  padding: 1px 4px;
  margin: 2px 3px;
}

#current {
  border: 2px dashed var(--primary-light-color);
  /* color: var(--primary-light-color); */
}

#current .resume-date {
  color: var(--primary-light-color);
}

.d_lexx #current {
  border: 2px dashed var(--dark-color);
  /* color: var(--dark-color); */
}
.d_lexx #current  .resume-date {
  color: var(--dark-color);
}

.d_lexx .resume-place {
  text-decoration: underline var(--dark-color) 2px;
}

.resume-place {
  text-decoration: underline var(--primary-light-color) 2px;
}

.d_lexx ::-webkit-meter-optimum-value {
  background-color: var(--dark-color);
}

meter {
  width: 220px;
  height: 20px;
}

::-webkit-meter-bar {
  background-color: grey;
}

::-webkit-meter-optimum-value {
  background-color: var(--primary-light-color);
}

.box-work {
  display: flex;
  margin: 45px 0;
  padding: 20px 0;
  gap: 25px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

.box-work:hover {
  transform: scale(0.99);
  box-shadow: 0px 0px 7px 1px rgb(211, 211, 211, 0.6);
  background-color: rgb(128, 128, 128, 0.05);
}

.box-work:hover p {
  /* display: none; */
}

.box-work span {
  color: var(--primary-light-color);
}

.box-work div {
  width: 90%;
}

.box-work img {
  width: 70%;
  min-width: 100px;
  /* max-width: 250px; */
  /* height: 110px; */
}

.box-work:hover img {
  /* opacity: 0.3; */
  transform: scale(1.15);
  /* margin-bottom: 150px; */
}

.box-work:hover a {
  /* display: block; */
  opacity: initial;
}

.box-work a {
  /* display: none; */
  color: var(--primary-light-color);
  /* border-radius: 2px; */
  /* padding: 7px 10px; */
  /* color: white; */
  /* background-color: var(--primary-light-color); */
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.lank {
  color: var(--primary-light-color);
  cursor: pointer;
}

.d_hero .box-work a,
.d_hero .lank {
  color: var(--dark-color);
}

.arrow {
  margin-left: 10px;
  animation: arrowMove 2s infinite;
}

@keyframes feelfree1 {
  0% {
    position: fixed;
    top: 68px;
    left: -100%;
  }
  35% {
    position: fixed;
    top: 68px;
    left: -100%;
  }
  45% {
    position: fixed;
    top: 68px;
    left: 4%;
  }
  47% {
    position: fixed;
    top: 68px;
    left: 0%;
  }
  65% {
    position: fixed;
    top: 68px;
    left: 0%;
  }
  82% {
    position: fixed;
    top: calc(7vh + 532px);
    left: 0%;
  }
  100% {
    position: fixed;
    top: calc(7vh + 532px);
    left: 0%;
  }
  /* 100% {position: static;} */
}

@keyframes feelfree2 {
  0% {
    position: fixed;
    top: 127px;
    left: -100%;
  }
  21% {
    position: fixed;
    top: 127px;
    left: -100%;
  }
  33% {
    position: fixed;
    top: 127px;
    left: 4%;
  }
  35% {
    position: fixed;
    top: 127px;
    left: 0%;
  }
  60% {
    position: fixed;
    top: 127px;
    left: 0%;
  }
  77% {
    position: fixed;
    top: calc(7vh + 602px);
    left: 0%;
  }
  100% {
    position: fixed;
    top: calc(7vh + 602px);
    left: 0%;
  }
  /* 100% {position: static;} */
}

@keyframes feelfree3 {
  0% {
    position: fixed;
    top: 186px;
    left: -100%;
  }
  7% {
    position: fixed;
    top: 186px;
    left: -100%;
  }
  19% {
    position: fixed;
    top: 186px;
    left: 4%;
  }
  21% {
    position: fixed;
    top: 186px;
    left: 0%;
  }
  55% {
    position: fixed;
    top: 186px;
    left: 0%;
  }
  72% {
    position: fixed;
    top: calc(7vh + 672px);
    left: 0%;
  }
  100% {
    position: fixed;
    top: calc(7vh + 672px);
    left: 0%;
  }
  /* 100% {position: static;} */
}

@keyframes feelfree4 {
  0% {
    position: fixed;
    top: 245px;
    left: -100%;
  }
  5% {
    position: fixed;
    top: 245px;
    left: 4%;
  }
  7% {
    position: fixed;
    top: 245px;
    left: 0%;
  }
  50% {
    position: fixed;
    top: 245px;
    left: 0%;
  }
  67% {
    position: fixed;
    top: calc(7vh + 742px);
    left: 0%;
  }
  100% {
    position: fixed;
    top: calc(7vh + 742px);
    left: 0%;
  }
  /* 100% {position: static;} */
}

@keyframes arrowMove {
  0% {
    margin-left: 10px;
  }

  50% {
    margin-left: 25px;
  }

  100% {
    margin-left: 10px;
  }
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-1 {
  width: 100%;
  margin: 0 auto;
}

.puth {
  width: 100%;
  margin: 10px auto;
  padding: 10px 5%;
  border: none;
  border-bottom: 2px solid var(--primary-light-color);
  outline: none;
  font-weight: 600;
}

.d_hero .puth {
  border-bottom: 2px solid var(--dark-color);
  background: none;
  color: var(--dark-color);
}

.puth:hover,
.puth:focus {
  border-bottom: 2px solid var(--secondary-light-color);
}

.d_hero .puth:hover,
.d_hero .puth:focus {
  border-bottom: 2px solid yellow;
}

.submit-btn {
  width: 100%;
  margin: 15px auto;
  padding: 10px 5%;
  background: linear-gradient(
    var(--primary-light-color),
    var(--secondary-light-color)
  );
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

.submit-btn:hover {
  background: var(--secondary-light-color);
  box-shadow: 0px 0px 10px 2px blue;
  width: 97%;
}

.d_hero .submit-btn {
  background: linear-gradient(gold, var(--dark-color));
  color: #000;
}

.d_hero .submit-btn:hover {
  background: var(--dark-color);
  box-shadow: 0px 0px 10px 2px gold;
}

.socicons {
  margin-bottom: 30px;
  margin-left: 20px;
}

.socicons a {
  /* text-decoration: none; */
}

.socicons div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.socicons img {
  width: 20px;
  margin-right: 23px;
}

.d_hero .socicons img {
  filter: hue-rotate(168deg) saturate(14) brightness(160%);
}

.cube {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 64, 193, 0.1);
  /* border-radius: 3px; */
  /* border: 1px solid #0040C1; */
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 24s ease-in forwards infinite;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes longed {
  0% {
    height: 50px;
  }

  90% {
    height: 1000px;
  }
}

@keyframes shorted {
  0% {
    height: 1000px;
  }

  90% {
    height: 50px;
  }
}

.copyr {
  text-align: center;
  color: #fff;
}

.copyr a {
  color: #fff;
}

.d_hero .copyr a {
  color: var(--dark-color);
}

/* Media Query start */

@media (max-width: 860px) {
  body {
    overflow: auto;
  }

  .flexible {
    position: static;
    width: 75%;
    margin: 20px 12%;
    height: 50px;
    padding: 2% 4%;

    overflow: hidden;
    transition: 1s;
    animation: shorted 1s;

    /* transform: translateX(-100%); */
    /* animation: outLeftRight .7s 2s backwards; */
    /* animation: outDown 1s .7s ease-in-out; */
  }

  .longDrop {
    animation: longed 1s backwards;
  }

  .hero {
    height: fit-content;
  }

  .the-man {
    position: static;
    width: 75%;
    animation: zoomInDown 6.2s ease-in-out;
    /* display: none; */
  }

  .set {
    animation: comingUp 1s 6.1s backwards;
  }

  .socials img {
    width: 20px;
  }

  .back {
    display: none;
  }

  .menu {
    margin: 5% 0%;
    width: 70px;
    font-size: smaller;
  }

  .flexible-gone {
    position: static;
    width: 75%;
    margin: 20px 12%;

    padding: 2% 4%;

    overflow: hidden;
    height: 50px;
    top: 0%;
    left: 0%;

    border-radius: 5px;

    box-shadow: 0px 0px 5px 1px grey;

    box-sizing: border-box;

    z-index: 2;

    opacity: 1;
    transform: translateX(0%);

    /* animation: outLeftRight .7s 2s backwards; */
    /* animation: outDown 1s .7s; */
  }

  .chevron {
    margin-left: 95%;
    display: block;
    cursor: pointer;
  }

  .away {
    display: none;
  }

  .way {
    display: block;

    width: 100%;
    padding: 0;
  }

  .way div {
    width: 100% !important;
  }

  .way a {
    color: #000;
  }

  .responsive {
    height: 120px;
  }

  #box-anim {
    font-size: 12px;
    height: 78%;
  }

  .new-anim1 {
    animation: feelfree1 7s backwards !important;
  }

  .new-anim2 {
    animation: feelfree2 7s backwards !important;
  }

  .new-anim3 {
    animation: feelfree3 7s backwards !important;
  }

  .new-anim4 {
    animation: feelfree4 7s backwards !important;
  }
}

@media (max-width: 1200px) {
  .box-1 {
    flex-wrap: wrap;
  }

  .para {
    width: 100%;
    margin: 0 auto;
  }


  .sta {
    margin-bottom: 10px;
  }

  .stats {
    padding-top: 20px;
  }

  .xper {
    /* padding: 20px 0; */
    margin-bottom: 20px;
  }

  .skill {
    padding-bottom: 20px;
  }

  .box-work {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .box-work img {
    margin: 10px auto !important;
  }
}

@media (max-width: 500px) {
  .chevron {
    margin-left: 90%;
  }

  .menu {
    position: static;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    height: 70px;
  }

  .menu-1 {
    width: 35%;

    height: 100%;
    border-radius: 0;
    display: block;
  }

  .menu-2 {
    width: 65%;
    box-shadow: none;
    display: flex;
    height: 100%;
    border-radius: 0;
  }

  .menu-2 div {
    width: 25%;
    height: 100%;
  }

  .flexible,
  .flexible-gone {
    width: 90%;
    margin: 20px 5%;
  }

  .the-man {
    margin: 20px 5%;
    width: 90%;
  }

  .me {
    clip-path: polygon(0 0, 100% 0, 100% 170px, 50% 95%, 0 170px);
  }

  .box-x img {
    width: 80px;
  }

  .my-details h1 {
    margin: 15px 0;
  }  

  .socials {
  margin: 20px auto;
  }

  .cv-contact div {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .menu-1 h4 {
    font-size: 13px;
  }

  .menu-1 h5 {
    font-size: 12px;
  }

  .menu-2 p {
    display: none;
  }

  .menu {
    height: 55px;
  }

  .box-work img {
    width: 250px;
  }

  .menu-2 img {
    margin: 0 auto;
  }

  .away img {
    display: none;
  }

  .menu-2 div {
    align-items: center;
    display: flex;
    text-align: center;
  }

  .socicons a {
    font-size: 16px;
  }
}

@media (min-width: 801px) {
  /* .flexible {height: 565px !important;} */
  .copyr {
    position: absolute;
    bottom: 2%;
    width: 100%;
  }
}

@media (min-width: 861px) {
  .the-man,
  .back {
    min-height: 500px;
    height: 555px;
  }

  .flexible {
    min-height: 455px;
    height: 520px;
  }

  .responsive {
    /* height: 160px; */
    /* font-size: 22px; */
  }
}

@media (min-width: 1200px) {

  .hero {
    display: flex;
    align-items: center;
  }

  .menu {
    margin: 4% 8%;
  }

  .responsive {
    /* height: 230px; */
  }
}

@keyframes zoomInDown {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }

  66% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }

  87% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}

.animate__zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

@keyframes showGo {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  19% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes outLeftRight {
  0% {
    transform: translate(-150%, 0%);
  }

  80% {
    transform: translate(10%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes outDown {
  0% {
    transform: translate(0%, -70%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes comingUp {
  0% {
    margin-top: 1000px;
    transform: scale(0.5);
  }
  100% {
    margin-top: 150px;
    transform: scale(1);
  }
}

@keyframes anima {
  0% {
    background-color: red;
  }
  90.9% {
    background-color: red;
  }
  100% {
    background: none;
  }
}
